*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header .brand-custom{
    font-weight:bold;
    font-size: 120%;
}

header .nav-custom{
    font-weight:600;
    color: black;
    font-size: 80%;
}

.navbar .brand-custom,
.navbar .nav-custom,
.navbar .social-icons {
  margin: 0 90px;  /* Adjust margin values as needed */
}


.main-text-lower{
  margin-top: 125px;
}

.hero-video{
  width: 100%;
  height: 100%;
  position: relative;
}

.hero-video video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}